* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
}

html{
    scroll-behavior: smooth;
}

marquee {
    text-transform: uppercase;
    font-size: large;
    color: red;
}

a {
    text-decoration: 0;
}

.container {
    margin: 0 auto;
    max-width: 940px;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

:root {
    --family: "Roboto";
}


/* header */

.header__one {
    background-color: #FFFFFF;
}

.navbar {
    border-bottom: 1px solid #828282;
    margin-bottom: 40px;
}

.ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 33px;
    padding-bottom: 32px;
}

.li {
    list-style-type: none;
}

.silka {
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    font-family: var(--family);
    text-decoration: none;
}

.silka:hover {
    color: #070707;
}

.li:hover {
    transform: scale(1.5);
    transition: all 0.5s linear;
}

.first-box {
    width: 100%;
}

.for-stext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.infa {
    font-family: var(--family);
    font-size: 18px;
    line-height: 22px;
    /* Black */
    color: #070707;
    width: 156px;
}

.name {
    font-family: var(--family);
    font-size: 47.3392px;
    line-height: 59px;
    /* Black */
    color: #070707;
    width: 124px;
}

.btn-box {
    transform: rotate(-90deg);
}

.ru {
    border: 0;
    font-family: var(--family);
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.eng {
    border: 0;
    font-family: var(--family);
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.ru:hover {
    transition: all 0.5s linear;
    color: #070707;
}

.eng:hover {
    transition: all 0.5s linear;
    color: #070707;
}

.novik {
    width: 100%;
    margin-bottom: 104px;
}

.menu-box {}

.burger {}

.hidden {}

.burger-box {}

.hidden-silka {}


/* /header */


/* main */

.main {}

.main__one {
    padding-top: 120px;
    text-align: center;
    padding-bottom: 107px;
    height: 506px;
    width: 100%;
    /* padding-left: 480px;
    padding-right: 550px; */
    background-color: #F6F6F6;
}

.small-box {
    margin: 0 auto;
    text-align: center;
}

.about {
    font-size: 34px;
    line-height: 42px;
    /* Black */
    color: #070707;
    font-family: var(--family);
    margin-bottom: 18px;
}

.text {
    font-size: 18px;
    line-height: 22px;
    /* Black */
    color: #070707;
    font-family: var(--family);
    /* height: 218px;
    width: 485px; */
}

.main__two {}

.ssbox {
    width: 100%;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 110px;
}

.skills {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    /* Black */
    color: #070707;
    font-family: var(--family);
    margin-bottom: 70px;
}

.title {
    font-family: var(--family);
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    /* Black */
    color: #070707;
    margin-bottom: 85px;
}

.four__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one {
    height: 206px;
    width: 166px;
    text-align: center;
}

.ps {
    margin-bottom: 25px;
}

.ps:hover {
    transform: rotate(360deg);
    transition: all 2s linear;
}

.under__img-photoshop {
    font-family: var(--family);
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin-bottom: 40px;
    cursor: pointer;
}

.under__img-illustrator {
    font-family: var(--family);
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin-bottom: 40px;
    cursor: pointer;

}

.under__img-after {
    font-family: var(--family);
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin-bottom: 40px;
    cursor: pointer;

}

.under__img-figma {
    font-family: var(--family);
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin-bottom: 40px;
    cursor: pointer;

}

.group {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.black-star {}

.white-star {}

.two {
    height: 206px;
    width: 166px;
    text-align: center;
}

.ai {
    margin-bottom: 25px;
}

.ai:hover {
    transform: rotate(360deg);
    transition: all 2s linear;
}

.three {
    height: 206px;
    width: 166px;
    text-align: center;
}

.ae {
    margin-bottom: 25px;
}

.ae:hover {
    transform: rotate(360deg);
    transition: all 2s linear;
}

.four {
    height: 206px;
    width: 166px;
    text-align: center;
}

.figma__img {
    margin-bottom: 25px;
}

.figma__img:hover {
    transform: rotate(360deg);
    transition: all 2s linear;
}

.main__three {
    background-color: #F6F6F6;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 96px;
}

.portfolio {
    font-family: var(--family);
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    /* Black */
    color: #070707;
    margin-bottom: 47px;
}

.big-img {
    margin-bottom: 45px;
    margin-top: 100px;
    width: 100%;
}

.ssilka {
    font-family: var(--family);
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    /* Black */
    color: #070707;
}


/* /main */


/* foot */

.footer {}

.footer__one {
    padding-top: 115px;
    padding-bottom: 123px;
}

.sbox {
    margin: 0 auto;
    text-align: center;
}

.contacts {
    font-family: var(--family);
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    /* Black */
    color: #070707;
    margin-bottom: 20px;
}

.questions {
    font-family: var(--family);
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    /* Black */
    color: #070707;
    height: 44px;
    width: 275px;
    margin: 0 auto;
}

/* .black-btn {
    font-family: var(--family);
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #070707;
    height: 42px;
    width: 180px;
    border-radius: 20px;
    margin-bottom: 90px;
    margin-top: 30px;
}

.black-btn:hover {
    background-color: #FFFFFF;
    color: black;
    transition: all 0.5s linear;
} */

/* button */

.black-btn{
    position: relative;
    background-color: #070707;
    color: white;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: all 0.4s linear;
    -webkit-transition-duration: 0.4s; /* Safari */
    font-size: 18px;
    line-height: 22px;
    height: 42px;
    width: 180px;
    border-radius: 20px;
    margin-bottom: 90px;
    margin-top: 40px;
    font-family: var(--family);
    font-weight: bold;
  }
  
  .black-btn:hover {
    transition-duration: all 0.1s linear;
    background-color: #ffffff;
    color: #000000;
    font-weight: bolder;
  }
  
  .black-btn:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s linear;
    box-shadow: 0 0 10px 40px rgb(0, 0, 0);
  }
  
  .black-btn:active:after {
    box-shadow: 0 0 0 0 rgb(0, 0, 0);
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: all 0s linear;
  }
  
  .black-btn:active {
    top: 1px;
  }


/* /button */

.silki-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 320px;
    margin: 0 auto;
}

.in {}

.insta {}

.be {}

.ball {}

.in:hover {
    transform: rotate(360deg);
    transition: all 2s linear;
}

.insta:hover {
    transform: rotate(360deg);
    transition: all 2s linear;
}

.be:hover {
    transform: rotate(360deg);
    transition: all 2s linear;
}

.ball:hover {
    transform: rotate(360deg);
    transition: all 2s linear;
}

.lorem {
    /* margin-top: 45px !important; */
    height: 34px;
    width: 243px;
    margin: 0 auto;
    font-size: 15px;
}

.loreem__box {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: 320px;
    margin: 0 auto;
}

.linkedin {
    font-size: 15px;
    cursor: pointer;
}

.instagram {
    font-size: 15px;
    cursor: pointer;
}

.behance {
    font-size: 15px;
    cursor: pointer;
}

.dribble {
    font-size: 15px;
    cursor: pointer;
}

.action {
    transform: rotate(360deg);
    transition: all 2s linear;
}


/* /foot */


/* bootstrap */

.off {
    display: none;
}

.boot-silka {
    font-size: 34px;
    line-height: 42px;
    color: #828282;
    display: block;
    text-decoration: 0;
    margin-bottom: 67px;
}

.boot-silka:hover {
    color: #070707;
    transition: all 0.5 s linear;
}

.novik2 {
    display: none;
}


/* loading */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

h1 {
    font-family: "Open Sans", -apple-system, "Segoe UI", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #212121;
    box-sizing: border-box;
}

.dots {
    display: inline-flex;
}

.dots--animate .dot.z {
    -webkit-animation: scale 0.8s 0.2s forwards;
    animation: scale 0.8s 0.2s forwards;
}

.dots--animate .dot.f,
.dots--animate .dot.s {
    -webkit-animation: right 0.5s forwards;
    animation: right 0.5s forwards;
}

.dots--animate .dot.l {
    -webkit-animation: rightDown 0.4s 0.1s forwards linear, drop 2s 0.4s forwards linear;
    animation: rightDown 0.4s 0.1s forwards linear, drop 2s 0.4s forwards linear;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #212121;
    border-radius: 10px;
    position: relative;
    margin-left: 6px;
}

.dot.z {
    position: absolute;
    transform: scale(0);
}

@-webkit-keyframes scale {
    100% {
        transform: scale(1);
    }
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

.dot.f,
.dot.s {
    transform: translateX(0px);
}

@-webkit-keyframes right {
    100% {
        transform: translateX(16px);
    }
}

@keyframes right {
    100% {
        transform: translateX(16px);
    }
}

.dot.t {
    background: transparent;
}

.dot .l {
    margin-left: 0;
    position: absolute;
    top: 0;
    left: 0;
}

@-webkit-keyframes rightDown {
    50% {
        top: 4px;
        left: 16px;
    }
    100% {
        top: 12px;
        left: 24px;
    }
}

@keyframes rightDown {
    50% {
        top: 4px;
        left: 16px;
    }
    100% {
        top: 12px;
        left: 24px;
    }
}

@-webkit-keyframes drop {
    100% {
        transform: translate(70px, calc(35px + (100vh / 2)));
    }
}

@keyframes drop {
    100% {
        transform: translate(70px, calc(35px + (100vh / 2)));
    }
}

/* .abs-twitter {
    position: fixed;
    right: calc(24px + 0.6vw);
    top: calc(22px + 0.6vw);
    transform: translate(-8px, 4px);
    opacity: 0;
    transition: 0.3s ease-in;
}

.abs-twitter--show {
    transform: translate(0, 0);
    opacity: 1;
    -webkit-animation: birdie 1s 0.8s linear infinite;
    animation: birdie 1s 0.8s linear infinite;
} */

@-webkit-keyframes birdie {
    13% {
        transform: rotate(14deg);
    }
    26% {
        transform: rotate(28deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes birdie {
    13% {
        transform: rotate(14deg);
    }
    26% {
        transform: rotate(28deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.bb {
    width: 100%;
    height: 400px;
    background-color: #000000;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bb h1 {
    color: white;
}

.bb span {
    background-color: white;
}

.ss {
    transition: all 0.5s linear;
    opacity: 0;
}